In [1]:
import pandas as pd

In [2]:
train = pd.read_excel('..//0.data//raw/CCC_Train.xlsx')
train.head()

,ID,Match_ID,Over,Commentary,Over_Run_Total,Target
0,0,803965640511,49.6,and india reach 300. there has been a 300 in ...,4,Run_Bw_Wickets
1,1,803965640511,49.5,"slower ball, ashwin bunts this to leg for -99...",4,Run_Bw_Wickets
2,2,803965640511,49.4,"full toss on off, he just slogs, gets a thick...",4,Run_Bw_Wickets
3,3,803965640511,49.3,that's the closest you'll get to a hat-trick ...,4,Dot
4,4,803965640511,49.2,sohail is doing the sajda after bowling rahan...,4,Wicket

## Clean Commentary Text

In [3]:
from nltk.tokenize import RegexpTokenizer
from nltk import stem

def clean_paragraph(para):
    lmtzr = stem.WordNetLemmatizer()
    tokenizer = RegexpTokenizer(r'\w+')
    
    p = ' '.join([lmtzr.lemmatize(token.lower()) for token in tokenizer.tokenize(para)])
    
    return p

In [4]:
import time; t0 = time.time()

train.Commentary = [clean_paragraph(para) for para in train.Commentary]

print(time.time() - t0)

30.436681985855103

In [5]:
train.Commentary[0]

'and india reach 300 there ha been a 300 in every first inning of this cup so far shami drive this full ball over point and come back a second'

## Build Count Vector on Training Data

In [6]:
import sklearn, nltk
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
vectorizer = CountVectorizer(min_df=2, tokenizer=nltk.word_tokenize)
training_set_counts = vectorizer.fit_transform(train.Commentary)

In [8]:
'''This will work for minimum doc freq Not Set'''
index = 0

# Convert para to tokens. Length is 30.
tempTok = nltk.word_tokenize(train.Commentary[index])
print(len(tempTok))

# Create a dictionary to keep unique tokens only. Says 26 unique tokens.
validationDict = {}
for tok in tempTok:
    validationDict[tok] = 1
print(len(validationDict))

# Says that in the first row there are 28 entries. Hence, verified
training_set_counts[index]

30
26

<1x8828 sparse matrix of type '<class 'numpy.int64'>'
	with 26 stored elements in Compressed Sparse Row format>

In [9]:
'''
101634 docs, 8828 unique tokens
'''
print(training_set_counts.shape)
print(vectorizer.vocabulary_.get('underrated'))
# print(len(tokDict))

(101634, 8828)
None

In [10]:
'''Convert Class names to numbers for easy row indexing'''
for index, row in train.iterrows():
    if row.Target == "Run_Bw_Wickets":
        train.at[index, 'Target'] = 0
    if row.Target == "Dot":
        train.at[index, 'Target'] = 1
    if row.Target == "Boundary":
        train.at[index, 'Target'] = 2
    if row.Target == "Wicket":
        train.at[index, 'Target'] = 3

train.Target.value_counts()

0    43085
1    42522
2    12134
3     3893
Name: Target, dtype: int64

In [11]:
'''Type Definition'''
print(train.dtypes)

'''After'''
train.Target = train.Target.astype('int')
print(train.Target.dtypes)

ID                  int64
Match_ID            int64
Over              float64
Commentary         object
Over_Run_Total      int64
Target             object
dtype: object
int32

## Running the model on Train data

In [12]:
test = pd.read_excel('..//0.data//raw/CCC_Test.xlsx')
test.head()
test.shape

(26143, 5)

In [13]:
from sklearn.naive_bayes import MultinomialNB

clf = MultinomialNB()
clf.fit(training_set_counts, train.Target)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

## Make Predictions on Test Data

In [14]:
'''Clean test Data'''
test.Commentary = [clean_paragraph(para) for para in test.Commentary]

# Run vectorizer on it.
test_set_counts = vectorizer.transform(test.Commentary)

In [15]:
'''Predict on Test Data'''
test_label_predictions = clf.predict(test_set_counts)

In [16]:
type(test_label_predictions[0])

'''Convert the type to string back.'''
test_label_predictions = test_label_predictions.astype(str)
type(test_label_predictions[0])

numpy.str_

In [17]:
'''Join this column with Test Data'''
test['Target'] = test_label_predictions

test.head()

,ID,Match_ID,Over,Commentary,Over_Run_Total,Target
0,0,803965640511,47.6,the yorker gone wrong low full toss and dhoni ...,9,2
1,1,803965640511,47.5,short of a length no room worked to leg for 999,9,0
2,2,803965640511,47.4,good yorker dhoni is making room but can t get...,9,1
3,3,803965640511,47.3,raina is gone finally to the short ball but af...,9,3
4,4,803965640511,47.2,not called a wide great call 999 say he ha mov...,9,3

In [18]:
'''Convert Labels back to Names'''

for index, row in test.iterrows():
    if row.Target == "0":
        test.at[index, 'Target'] = "Run_Bw_Wickets"
    if row.Target == "1":
        test.at[index, 'Target'] = "Dot"
    if row.Target == "2":
        test.at[index, 'Target'] = "Boundary"
    if row.Target == "3":
        test.at[index, 'Target'] = "Wicket"
        
test.head()

,ID,Match_ID,Over,Commentary,Over_Run_Total,Target
0,0,803965640511,47.6,the yorker gone wrong low full toss and dhoni ...,9,Boundary
1,1,803965640511,47.5,short of a length no room worked to leg for 999,9,Run_Bw_Wickets
2,2,803965640511,47.4,good yorker dhoni is making room but can t get...,9,Dot
3,3,803965640511,47.3,raina is gone finally to the short ball but af...,9,Wicket
4,4,803965640511,47.2,not called a wide great call 999 say he ha mov...,9,Wicket

In [19]:
test.to_csv('..//5.outputs//output_countVeclibSup_v1.csv')

# Accuracy so far - 76.872 %