In [2]:
import pandas as pd

In [8]:
train = pd.read_csv('..\\0.data\\trainV1.csv')
test = pd.read_csv('..\\0.data\\testV1.csv')

print(train.shape)
print(test.shape)

(889, 12)
(417, 11)

In [9]:
train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,1

In [10]:
test.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,892,3,34.5,0,0,7.8292,0,1,0,1,0
1,893,3,47.0,1,0,7.0000,1,0,0,0,1
2,894,2,62.0,0,0,9.6875,0,1,0,1,0
3,895,3,27.0,0,0,8.6625,0,1,0,0,1
4,896,3,22.0,1,1,12.2875,1,0,0,0,1

### Training Models

In [6]:
trainY = train.loc[:, 1]
trainX = train.iloc[:, 2:]

testX = test.iloc[:, 1:]

In [7]:
print(train.shape)
print(test.shape)

print(trainY.shape)
print(testX.shape)

(51118, 69)
(21908, 69)
(51118,)
(21908, 68)

## Linear Regression

In [8]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from math import sqrt

In [9]:
#Create linear regression object
linear = linear_model.LinearRegression()

#Train the model using the training sets and
#check score
linear.fit(trainX, trainY)
train_r2Score = linear.score(trainX, trainY)

#Predict Output
y_predicted = linear.predict(testX)

# Accuracy
test_R2Score = linear.score(testX, testY)

# RMSE
rmse_test = sqrt(mean_squared_error(testY, y_predicted))
# rmse_traim = sqrt(mean_squared_error())

print('Intercept: ', linear.intercept_)
print('\nTraining R2 Score: ', train_r2Score)

print('\nTest R2 Score: ', test_R2Score)
print('\nRMSE on Test: ', rmse_test)

Intercept:  4.488236417689669

Training R2 Score:  0.568134210657812

Test R2 Score:  0.563982991624809

RMSE on Test:  0.4738668223683896

In [10]:
import matplotlib.pyplot as plt
plt.plot(testY)
plt.plot(y_predicted)
plt.show()

ImportError: cannot import name '_path'