0. Train/Test Split

In [35]:
import pandas as pd

In [36]:
data = pd.read_csv('..\\0.data\\raw\\imdb_raw_data.csv')
print(data.shape)
data.head(5)

(25000, 3)

      id  labels                                               text
0   2592       0  Un-bleeping-believable! Meg Ryan doesn't even ...
1  18359       1  This is a extremely well-made film. The acting...
2   1040       0  Every once in a long while a movie will come a...
3  17262       1  Name just says it all. I watched this movie wi...
4   9908       0  This movie succeeds at being one of the most u...

In [37]:
# Any null values?
data.isnull().sum()

id        0
labels    0
text      0
dtype: int64

### 0. Train/Test Split

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
train, test = train_test_split(data.iloc[:,:], test_size=0.3, random_state=1)
train.head()

          id  labels                                               text
4289    1288       0  We saw this on the shelf at the local video st...
19621   2064       0  Well, you'd better if you plan on sitting thro...
14965  18997       1  This is my favorite Jackie Chan movie and in a...
12321  10448       0  The long list of "big" names in this flick (in...
6269   16133       1  The great and underrated Marion Davies shows h...

Save to Raw Folder and Load Back Train

In [40]:
train.to_csv('..\\0.data\\raw\\imdb_train.csv', index=False, header=True)
test.to_csv('..\\0.data\\raw\\imdb_test.csv', index=False, header=True)