3. Type Conversion
4. Standardization - Not Needed 
    * (Standardizing, is a preprocessing step that must be handled delicately, since it involves learning the mean and variance of the features in the data.)
5. Binning
6. Dummy Creation
    * This is only a transformation step which can be applied before splitting them.
    * property_type, room_type, bed_type, cancellation_policy, cleaning_fee, city, host_has_profile_pic, host_identity_verified, instant_bookable
    
    
7. Test/Train Data Split

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [17]:
data = pd.read_csv('..\\0.data\\processed\\v1.1_data.csv')
data.head(5)

,log_price,property_type,room_type,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,bedrooms,beds
0,5.010635,Apartment,Entire home/apt,3,1.0,Real Bed,strict,True,NYC,t,t,f,2,100.0,1.0,1.0
1,5.129899,Apartment,Entire home/apt,7,1.0,Real Bed,strict,True,NYC,t,f,t,6,93.0,3.0,3.0
2,4.976734,Apartment,Entire home/apt,5,1.0,Real Bed,moderate,True,NYC,t,t,t,10,92.0,1.0,3.0
3,6.620073,House,Entire home/apt,4,1.0,Real Bed,flexible,True,SF,t,t,f,0,0.0,2.0,2.0
4,4.744932,Apartment,Entire home/apt,2,1.0,Real Bed,moderate,True,DC,t,t,t,4,40.0,0.0,1.0

### 3. Type Conversion

Before

In [18]:
data.dtypes

log_price                 float64
property_type              object
room_type                  object
accommodates                int64
bathrooms                 float64
bed_type                   object
cancellation_policy        object
cleaning_fee                 bool
city                       object
host_has_profile_pic       object
host_identity_verified     object
instant_bookable           object
number_of_reviews           int64
review_scores_rating      float64
bedrooms                  float64
beds                      float64
dtype: object

### Attributes

* Categorical
    1. property_type = 35 Types
    2. room_type = 3 Types
    3. bed_type = 5
    4. cancellation_policy = 5
    5. cleaning_fee = 2
    6. city = 6
    7. host_has_profile_pic = 2
    8. host_iden.. = 2
    9. instan.. = 2
    
    Total = 62.
    So, 16 + 62 - 9 = 69


* Numerical
    1. Accomodates
    2. Bathroom
    ...
    
    
* More Preprocessing Required
    1. Amenitites - Textual Data (Needs to be categorised)

In [19]:
categoryColumns = ["property_type", "room_type", "bed_type", "cancellation_policy",\
                   "cleaning_fee", "city", "host_has_profile_pic",\
                   "host_identity_verified", "instant_bookable"]

numericalColumns = ['accommodates', 'bathrooms', 'number_of_reviews',\
                    'review_scores_rating', 'bedrooms', 'beds']
data[categoryColumns] = data[categoryColumns].apply(lambda x: x.astype('category'))
data[numericalColumns] = data[numericalColumns].apply(lambda x: x.astype('float'))
data.dtypes

log_price                  float64
property_type             category
room_type                 category
accommodates               float64
bathrooms                  float64
bed_type                  category
cancellation_policy       category
cleaning_fee              category
city                      category
host_has_profile_pic      category
host_identity_verified    category
instant_bookable          category
number_of_reviews          float64
review_scores_rating       float64
bedrooms                   float64
beds                       float64
dtype: object

### 4. Standardization and 5. Binning - Not Implemented

### 6. Dummy Creation

Before

In [20]:
print(data.shape)
data.head(1)

(73026, 16)

,log_price,property_type,room_type,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,bedrooms,beds
0,5.010635,Apartment,Entire home/apt,3.0,1.0,Real Bed,strict,True,NYC,t,t,f,2.0,100.0,1.0,1.0

After

In [21]:
data = pd.get_dummies(data, columns=categoryColumns)
data.head(1)

,log_price,accommodates,bathrooms,number_of_reviews,review_scores_rating,bedrooms,beds,property_type_Apartment,property_type_Bed & Breakfast,property_type_Boat,...,city_DC,city_LA,city_NYC,city_SF,host_has_profile_pic_f,host_has_profile_pic_t,host_identity_verified_f,host_identity_verified_t,instant_bookable_f,instant_bookable_t
0,5.010635,3.0,1.0,2.0,100.0,1.0,1.0,1,0,0,...,0,0,1,0,0,1,0,1,1,0

### 7. Train/Test Split

In [22]:
train, test = train_test_split(data.iloc[:,:], test_size=0.3, random_state=1)
print(data.shape)
print(train.shape)
print(test.shape)

(73026, 69)
(51118, 69)
(21908, 69)

Saving the Data

In [26]:
train.to_csv('..\\0.data\\processed\\v1.2_train.csv', index=False, header=True)
test.to_csv('..\\0.data\\processed\\v1.2_test.csv', index=False, header=True)